@charset "utf-8";
/* css 외부파일은 반드시 utf-8설정 필수! */
/* info PJ 공통 CSS - common.css */

/* css 인터널 코딩구역 */
/* 웹폰트 import */
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Single+Day&display=swap");
/*

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

           선택자{
           속성:값;
           }

           -> 선택자는 기본적으로
           요소명 / 아이디명 / 클래스명
           */
/* header{요소명 */
/* 1. 상단영역 */
#top-area {
  /* 아이디 */
  /* 중앙정렬 */
  text-align: center;
  /* 배경색 */
  background-color: rgb(214, 226, 238);
}
/* 전체 타이틀
          CSS에서 띄어쓰기는 하위요소를 선택함! */
#top-area h1 {
  /* 글자체 ff
            콤마로 연결된 글자체는 앞의체가 없을경우
            대체체임! 모두없을시 브라우저 기본체나옴 */
  font-family: "Do Hyeon", sans-serif;
  /* 글자크기 fz */
  font-size: 48px;
  /* 글자색 c */
  color: #014362;
  /* 글자그림자 ts
            text-shadow: x축 y축 블러 색; */
  text-shadow: 1px 1px 1px #6b6a746f;
}

/* 2. 메인영역 */
#main-area {
  /* 위, 아래 마진
            -> 양쪽 auto는 박스 중앙정렬 */
  margin: 15px auto;
  /* margin-top: 15px;
            margin-bottom: 15px; */

  /* 마진(margin), 패딩(padding)규칙
            - 마진은 바깥여백, 패딩은 안쪽여백
            margin: 값; - 4방향모드
            margin: 값 값; - 위,아래 양쪽
            margin: 값 값 값; - 위,양쪽, 아래
            margin: 값 값 값 값; - 위, 오른, 아래, 왼쪽
            ((방향별 속성 있음))
            margin-top: 값;
            margin-right: 값;
            margin-bottom: 값;
            margin-left: 값;

            ((크기를 가지는 블록박스 중앙정렬))
            margin: 0 auto;
            -> 박스의 마진을 위아래0
               양쪽마진은 auto! 즉, 자동으로
               같은 크기배분!
               -> 마, 영, 오!
            */
}
/* 메뉴 a요소
      기본셋팅된 글자색, 밑줄 변경 */
.menu a {
  /* 글자체 */
  font-family: "Single Day", cursive;
  /* 글자색 */
  color: rgb(0, 38, 94);
  /* 글자밑줄없앰 tdn */
  text-decoration: none;
  /* 글자크기 fz */
  font-size: 28px;
  /* 글자두껍게 fwb */
  font-weight: bold;
}
/* 첫번째 a메뉴를 빼고 두번째부터
      끝까지 양쪽마진 적용하기
      주의) 인라인요소는 위아래 마진적용안됨! */
.menu span + a {
  /* 앞에 span형제요소가 있는 a만선택
        +는 형제선택자 */
  margin: 4px;
}

/* a요소에 마우스 오버시 */
.menu span + a:hover {
  /* 글자색 */
  color: rgb(226, 13, 31);
  /* 글자윗줄 tdo */
  text-decoration: underline;
  /* 글자데코 스타일 tdst */
  text-decoration-style: wavy;
}

/* 3. 하단영역 */
#info-area {
  /* 배경색 bgc */
  background-color: #e9e7e7;
  font-size: 18px;
}

/* 최상위박스 공통 */
/*클래스명*/
.part {
  /* 가로크기를 지정하면 화면이
            박스보다 작아질 경우 가로 스크롤 생김 */
  /* width: 1280px; */
  /* max-width: 700px; */
  /* 최대가로크기 설정 maw */
  max-width: 700px;

  /* 마영오로 박스 중앙정렬 */
  margin: 0 auto;

  /* 보더(경계선)
            border: 두께 종류 색상
            종류(선형solid, 데쉬선dashed, 점선dotted)

            */
  border: 1px dashed hsl(0, 0%, 81%);
  /* 둥근모서리 */
  border-radius: 20px;
  /* 안쪽여백(패딩) */
  padding: 15px;
}
#top-area {
  border: 1px solid rgb(227, 229, 233);
  padding: 15px;
}
#top-area a {
  font-size: 16px;
}

/* 주소셋팅 */
address {
  /* 글자체 */
  font-family: "Noto Sans KR", sans-serif;
  /* 글자크기 fz */
  font-size: 12px;
  /* 기본 이탤릭체 해제하기 */
  font-style: normal;
  /* 글자 중앙정렬 tac*/
  text-align: center;
  color: rgb(129, 129, 129);
}
