@charset "utf-8";

/* 서브페이지 공통 CSS - sub.css */

/* 
[선택자의 종류]

1) 타입 선택자: 요소명 
예)h1{}, div{}

2) 자손 선택자: 띄어쓰기 
예) h1 a{}, div span{}

3) 아이디 선택자: # 
예) #my{}, #we{}

4) 클래스 선택자: . 
예) .home{}, .kite{}

5) 직계 자식 선택자: > 
예) #my > div

6) 그룹 선택자: , 
예) html, body, h1{}

7) 종속 선택자: 태그명+아이디/클래스선택자
예) h1#logo{}, main.cont{}

8) 속성 선택자: []
예) [target=_blank], a[href="index.html"]

9) 형제 선택자: + 
    예) li+li , tr+tr 앞에 다른형제가 있는 요소를 선택함

10) 다중형제선택자: ~
    예) li:nth-child(4)~li -> 4번째 li이후 모든 형제선택

**********************************************************

    */

/* 2-1 서브타이틀 
태그명+이름 방식의 선택자는 종속선택자 */
h2.sub-title {
  /*  */
  font-family: "Single Day", cursive;
  /* 글자 그림자 ts */
  text-shadow: 2px 2px 2px #00000077;

  /* 박스 디자인 */

  /* 패딩p */
  padding: 20px;

  /* 둥근 모서리 border */
  border-radius: 20px;
  /* css이미지는 상대경로로 css파일위치로부터
찾아서 넣는다! ../는 폴더 하나위로 올라감 */
  /* 배경 한번에 넣기 : 색이반고윙/크 */
  background: url(../images/titbg4.jpg) no-repeat
    center/cover;

  /* 
[css 적용우선 순위]
0. 속성값안에 !important라고 쓰면 가장 최우선 적용!
1. 인라인 셋팅 : 태그안에 style속성 셋팅
2. 종속선택 요소 : 태그명#아이디명 / 태그명.클래스명
3. 아이디 요소 : #이름
4. 클래스 요소 : .이름 
5. 요소명 : 태그명 

-> 레벨이 같은 경우엔 나중에 쓴것이 덮어써진다!

*/

  /* 박스 그림자box-shadow(bxsh)
 box-shadow:
 (내부 그림자 inset) x축, y축 블러(확장) 색;

 -> 블러 뒤에 확장옵션에 px값을 주면 
 그림자가 더 커진다! 박스그림자에만 이 옵션있음

 콤마로 연결하면 글자 그림자든 박스 그림자든
 모두 다중 그림자 적용 가능함
 */
  box-shadow: 
 /* 내부그림자 */ inset 0 0 10px #09005e,
    /* 바깥쪽 그림자 */ 0 0 15px 3px #ff9d6f;

  /* 글자 크기 font - size (fz)*/
  font-size: 38px;
  /* 글자 두께 : font weight (fw)
    두껍게 bold(fwb)/ 보통 normal(fwm) */
  font-weight: normal;
  /* 텍스트 중앙정렬 : tac */
  text-align: center;
  /* 배경색 : bgc */
  background-color: #ffa357;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
/* 페이지별 타이틀 박스 디자인 변경 */
/* 정치뉴스 */
h2.politics {
  background-image: url(../images/titbg1.jpg);
  /*  */
  color: rgb(255, 255, 255);
}
/* 경제뉴스 */
h2.economics {
  background-image: url(../images/titbg2.jpg);
  /*  */
  color: rgb(164, 255, 250);
}
/* 사회뉴스 */
h2.social {
  background-image: url(../images/titbg3.jpg);
  /*  */
  color: rgb(255, 230, 0);
}
/* it/과학 */
h2.it {
  background-image: url(../images/titbg4.jpg);
  /*  */
  color: rgb(255, 255, 255);
}
/* tv/연예 */
h2.tv {
  background-image: url(../images/titbg5.jpg);
  /*  */
  color: rgb(231, 231, 231);
}
/* 2-2 언론사 로고 */
.press-logo img {
  /* 이미지 높이값 고정(가로 크기는 자동) */
  height: 32px;
}

/* 2-3 기사 제목 */

.article-title {
  /* 글자크기 fz30 */
  font-size: 30px;
  /* 글자색 c */
  color: #000;
}

/* 2-4 기사 사진 */

/* fugrue 요소 기본마진 없앰 */
.article-picture {
  margin: 0;
}
/* 기사 이미지 */
.article-picture img {
  width: 100%;
}

/* 이미지 설명
figcaption은 블록요소다!*/
.article-picture figcaption {
  /* 글자가운데 정렬 tac */
  text-align: center;
  /* 글자크기 15px: fz15 */
}

/* 하위 요소에 지정된 속성은 그 요소에서 재정의 해야 적용됨!
예컨데 글자크기가 이미 small 태그에 적용되어 있어서 여기에 재정의 해야함! */
.article-picture figcaption small {
  font-size: 15px;
}

/* 2-5 기사 내용 */
.contents p {
  /* 기본 마진 없애고 아래쪽 마진만 줌 */
  margin: 0px;
  margin-bottom: 25px;

  font-size: 20px;
  line-height: 1.6;
  /* 
[줄간격 : line-height]
- 박스 요소의 글자의 간격 높이를 지정하는 속성
- 글자는 높이값의 세로 정중앙에 위치함
- 단위를 사용하면 특정 크기로 저장됨
- 단위없는 숫자로 표현하면 글자 크기의 배수로 상대적 크기가 적용됨
- 젠코딩시 숫자만쓰면 배수로 표현되므로 주의 요망!! 예) lh20 -> line-height: 20;
*/
  color: #303038;
}

/* 중요글자 strong */
.contents p strong {
  color: #0e008b;
}

/* 강조글자 em */
.contents p em {
  /* 글자색 c */
  color: rgb(0, 134, 175);
  /* 글자 그림자 : cs */
  text-shadow: 1px 1px 1px #0400ff;
  /* 글자 윗줄 overline : tdo
     글자 아랫줄 underline : tdu */
  text-decoration: underline wavy;
  /* text-decoration: 유형(스타일)
  스타일이 있을 경우 뒤에 씌어스기로 쓸 수 있음 */
}

/* 공통 보더박스 디자인(.bd-box) */
.bd-box {
  /* 위쪽 보더주기 : bdt */
  border-top: 1px dashed #9e9e9e;
  /* 아래쪽 보더주기 : bdb */
  border-bottom: 1px dashed #9e9e9e;
  /* 윗 아래마진 :m */
  margin: 20px 0;
  /* 위아래 패딩 : p */
  padding: 15px 0;
}
/* 타이틀 */
.bd-box h4 {
  /* 가로크기 내용만큼 설정위해 display변경!
  -> inline : di (패딩 디자인이 실제 공간을 차지하지 않음)
  display: inline;
  -> inline-block(블록처럼 디자인 적용되는 인라인 요소)*/
  display: inline-block;
  /* 배경색 : bgc*/
  background-color: #f3f3f3;
  /* 패딩 : p */
  padding: 15px;
  /* 둥근 모서리 : brad */
  border-radius: 15px;
  /* 박스 그림자 : bxh */
  box-shadow: inset 0 0 10px #b4b4b4;
}

/* 2-5.5 인용블록 영역 */
/* 인용구 박스 : blockquote */
.quote-box blockquote {
  /* 기본마진 없앰 : m */
  margin: 0;
  /* 글자크기 : fz */
  font-size: 20px;
  /* 줄간격 : lh */
  line-height: 1.8;
  /* 양쪽정렬 justify : taj */
  text-align: justify;
  /* 양쪽 정렬시 영어단어 깨서 중앙 공백 없애기(wbb) */
  word-break: break-all;
  /* 첫줄 들여쓰기 : ti */
  text-indent: 15px;
}

/* 이미지 오른쪽으로 보내서 옆에 글자 흘러가기 */
.quote-box blockquote img {
  /* 나는 오른쪽에 있고(글자는 왼쪽에 흘러감)
  float:right(flr) */
  float: right;

  /*
  기본적으로 이미지는 인라인요소이며
  글자가 왼쪽으로 한줄 하단에 나열됨!
  글자가 옆에 올라와서 흘러가게 하려면
  float속성을 사용해야 한다!
    float:left 이미지는 왼쪽에 글자는 오른쪽에
    float:right 이미지는 오른쪽에 글자는 왼쪽에
  */

  /* 왼쪽마진 : ml (이미지왼쪽에 글자에 간격줌) */
  margin-left: 10px;
  /* 마진탑으로 이미지 위치를 이동함 : mt */
  /* margin-top: 15px; - 아래쪽에 영향으로 주석! */
  /* 둥근 모서리 : brs */
  border-radius: 10px;
}

/* 2-6 기자정보 */
.reporter {
  /* 글자크기 : fz */
  font-size: 20px;
  /* 위아래 패딩 : p */
  padding: 15px 0;
}

/* 2-7 기사원문 */
.article-link {
  /* 오른쪽 정렬 */
  text-align: right;
}
/* 자식요소 a는 인라인이므로 크기 적용안됨
따라서 디자인 적용되는 인라인 요소인 inline-block를 사용한다! */
.article-link a {
  /* 정원은 둥근모서리값 50% */
  border-radius: 50%;
  /* 배경색 bgc */
  background-color: lightcyan;
  /* 글자색 c */
  color: darkcyan;
  /* 글자크기 */
  font-size: 18px;
  /* 두꺼운 글자 fwb */
  font-weight: bold;
  display: inline-block;
  width: 100px;
  height: 100px;
  /* 가로중앙정렬 */
  text-align: center;
  /* 세로중앙정렬 */
  /* text-align: middle;->인라인 요소간 세로정렬
  ->세로 중앙정렬은 table-cell 디스플레이에서만
  적용됨. 여기서는 line-height를 높이값과 같이 줌! */
  line-height: 100px;
  border: 2px solid rgb(163, 221, 255);

  /* a요소 기본 디자인 변경 */
  /* 밑줄없앰 : tdn */
  text-decoration: none;
}

/* 기사원문 오버시 변경 
: hover는 마우스 오버시 가상클래스임!
선택요송 붙여서 사용함!
가상클래스란 마치 클래스를 준것 같다는 의미
*/
.article-link a:hover {
  /* 배경색 변경 : bgc */
  background-color: #a8ffad;
  /* 글자색 변경 : c */
  color: #003046;
  /* 박스 그림자 : bxsh */
  box-shadow: 0 0 10px 2px #00ac253a;
  /* box-shadow : x축 Y축 블러 확대 색 */
}
/* 주해영역 */
/* 오늘의 작품 & 느낌 */
.work {
  /* 전체 정렬 중앙 : tac */
  text-align: center;
}
/* 타이틀 */
.work h4 {
  margin: 0;
  color: #643000;
  font-weight: normal;
  font-size: 30px;
  font-family: "Do Hyeon", sans-serif;
}

/* 이미지 박스 */
.work figure {
  /* 위아래패딩 */
  padding: 15px 0;
  /* 기본마진 없앰 */
  margin: 0;
}

/* 작품 이미지 */
.work img {
  border: 20px ridge goldenrod;
}

/* 이미지 설명 */
.work figcaption {
  /* 글자관련 설정 */
  font-weight: bold;
  font-size: 15px;
  font-family: "Single Day", cursive;
  color: #575757;
}

/* 작품명만 따로 다자인\
  cite는 작품명요소(시멘틱**의미있는** 구조화하다!) */
.work figcaption cite {
  color: #91480b;
  /* 기본 이탤릭체 해제 : fsn */
  font-style: normal;
}

/* 뉴스파트 공통 클래스 : .news-box */
.news-box {
  /* 상단보더 넣기 : bdt */
  border-top: 0.5px dashed #b9b9c5;
  /* 위아래마진 : m */
  margin: 20px 0;
  /* 위아래패딩 p */
  padding: 16px 10;
}

/* 뉴스 타이틀 공통 */
.news-box h3 {
  /* 글자체 (웹폰트) ff */
  font-family: "Do Hyeon", sans-serif;
  /* 두껍지 않게 : fwn*/
  font-weight: normal;
  /* 글자크기 : fz */
  font-size: 18px;
  /* 배경 그라데이션 bg */
  background: linear-gradient(
    to right,
    #fffc59 10%,
    #ffa5a5 60%,
    transparent
  );
  /* 패딩 p */
  padding: 5px;
  /* 글자색 */
  color: #a84269;
}

/* 뉴스파트 공통 a */
.news-box a {
  /* 글자크기 : fz17 */
  font-size: 11px;
  /* 줄간격 : lh2.5 */
  line-height: 2.5;
  /* 글자색 : c */
  color: #7c6d6d;
  /* 밑줄없앰 : tdn*/
  text-decoration: none;

  /* [한줄 말줄임 셋팅하기] */
  /* 1. 줄바꿈 방지 : wh */
  white-space: nowrap;
  /* 2. 넘치는 요소 숨기기(전체조건 inline아닐것!) */
  overflow: hidden; /* oh */
  display: block; /* db : a는 inline이니까 변경  */
  /* 3. 넘치는 글자 말줄이묘시(...) : tov */
  text-overflow: ellipsis;
}

/* 공통 a요소 오버시 가상 클래스(:hover) */
.news-box a:hover {
  /* 글자색 */
  color: #2e2e2e;
  /* 글자 그림자 ts*/
  text-shadow: 0.5px 0.5px 1.7px #c0abab;
}

/* 뉴스파트 공통 초기화하기
ul ol 기본마진, 패딩, 블릿, 번호 등
초기화 필요*/

.news-box ul,
.news-box ol {
  /* 마진, 패딩 0 */
  margin: 0;
  padding: 0;
  /* 블릿, 숫자표시 리스트 없앰 : lin */
  list-style: none;
}
/* ol은 숫자값 살리기 */
.news-box ol {
  list-style: decimal;
  /* 왼쪽패딩 : pl */
  padding-left: 20px;
}

/* dl, dd는 기본마진 있음 */
.news-box dl,
.news-box dl dd {
  margin: 0;
}

/* 주요뉴스 개별 설정하기 */
.main-news a::before {
  /* 맨앞 */
  content: url(../images/버튼2-01.png);
  margin-right: 10px;
  font-size: 9px;
}
.main-news a::after {
  /* 맨뒤 */
  content: " 🤍";
  /* url을 사용하면 이미지를 넣을 수 있으나
  크기조정 않됨! */
  width: 5px; /* 적용 안됨 */
}
/* 가상요소로 아이콘 넣기
이미지같은 요소를 css에서 가상으로
넣을 수 있음(가상은 실제 태그요소아님)
앞에 넣는 가상요소는 ::before 
뒤에 넣는 가상요소는 ::after
((기본필수속성은? content속성))

 [ CSS의 가상요소 : before, after ]
    - 모든 요소는 맨앞과 맨뒤에 가상요소를 사용할 수 있다!
    - 가상요소 표기법은 요소명 뒤에 콜론2개를 겹쳐씀(::)
    - 맨앞은 before, 맨뒤는 after
    - 필수속성 : content
    - 이미지는 content 속성값으로 url() 사용!
*/

/*
  주요뉴스의 li 순서에서 개별 선택하기!
  글자색 변경하기!
  
  [같은 종류의 형제요소 선택법]
  :first-child -> 첫번째 자식
  :last-child -> 마지막째 자식
  :nth-child(n) -> n첫번째 자식
*/

.main-news li:first-child a {
  color: #be6666;
}
.main-news li:nth-child(2) a {
  color: #192188;
}
.main-news li:last-child a {
  color: #2f744e;
}

/* 오늘의 작품 & 느낌 */
.work {
  /* 패딩 p */
  padding: 15px;
  /* 박스 그림자 : bxsh
        box-shadow: x축 y축 blur spread 색
        1.x축 - 가로축 이동
        2.y축 - 세로축 이동
        3.blur - 경계선 흐림
        4.spread - 그림자 기존크기 보다 더한크기
        5.색 - 그림자 색
        ->> 내부 그림자일 경우 inset 키워드를 앞에씀
        box-shadow: inset x축 y축 blur spread 색
        ->> spread는 필요시에 작성함
    */
  box-shadow: inset 0 0 15px 2px #b38a8a;
  /* 전체 정렬 중앙 : tac */
  text-align: center;
  /* 배경색 그라데이션  */

  background: linear-gradient(
    to top,
    #ffc8c8 10%,
    #eb7776 20%,
    #eeff95 75%,
    transparent
  );

  /* 그라데이션 
        [ 선형 그라데이션 : linear-gradient ]
        linear-gradient(방향,색1,색2,...);
        linear-gradient(방향,색1 몇%,색2 몇%,...);
        linear-gradient(각도,색1 몇%,색2 몇%,...);
        - 옵션 : 
        1. 방향: to top, to bottom, to left, to right
        2. 각도: 각도deg
        3. 콤마로 나열된 색상 뒤에 %수치를 쓰면 비율조정가능
    */
}

/*  분야별 뉴스 */
.sec-news dt {
  font-family: "Single Day", cursive;
  font-size: 20px;
  border: 1px dashed #ecb6b6;
  padding: 10px;
  /* 내용만큼 가로크기 되도록
display변경 inline-block
-> dib */
  display: inline-block;
  /* 원형 둥근모서리 */
  border-radius: 50%;
}

/* dt 따로 순서별 디자인 설정 */
/* 경제파트 */
.sec-news dt:first-of-type {
  color: #000;
  background-color: #ffb7b7;
  border-color: #ce8ca2;
}
/* 사회파트 */
.sec-news dt:nth-of-type(2) {
  color: #000;
  background-color: #5dbcf3;
  border-color: #5a72e0;
}
/* tv/연예파트 */
.sec-news dt:last-of-type {
  color: #000;
  background-color: #88ee84;
  border-color: #2e9c4f9f;
}
/* 
[ 여러 종류의 태그에서 순서별 선택법 ]
:first-of-type 같은 종류중 첫번째요소
:last-of-type 같은 종류중 마지막째요소
:nth-of-type(n)-of-type 같은 종류중 n번째요소
 */

/* 두번째 dt부터 마진탑주기
 -> dt앞에 dd가 있는 모든 dt를 선택함!
 -> 형제 선택자 + 사용함 : dd+dt */
.sec-news dd + dt {
  margin-top: 20px;
}


/* 사진뉴스 테이블 */
.photo-news table{
  /* 최대가로크기설정 : maw
  최대크기보다 작아지면 auto로 전환! */
  max-width: 500;
  
  /* 테이블 기본간격 없앰!(정확한 수치화를 위해) bdc */
  border-collapse: collapse;
  /* separate가 기본값임(사이간격있음)
  -> table태그에서 border="1" 설정으로 확인(html문서에서) */

  /* 테두리 */
  border: 2px solid #e99a9a;

  /* 테이블 중앙정렬 - 마영오!
  블록요소, 테이블요소 모두 적용공통 */
  margin: 0 auto;
  }

  /* 첫번째 td : 숫자데이터 부분 */
.photo-news td:first-child{
  /* 가로크기: w */
  width: 50px;
  /* 세로크기 : h */
  height: 84px;
  /* 글자 중앙 : tac */
  text-align: center;
  /* 배경색 */
  background-color: #e99a9a;
  /* 글자색 */
  color: #ffffff;
}

/* 두번째 td : 기사 제목 링크 부분 */
.photo-news td:nth-child(2){
  /* 배경색 : bgc */
  background-color: #f3efe4;
  /* 패딩 : p */
  padding: 0 20px;
}

/* 세번째 td : 사진 링크 부분 */
.photo-news td:last-child{
  /* 배경색 : bgc */
  background-color: #fcdbdb;

}



/* 사진뉴스 a요소 셋팅 */
.photo-news a{
  /* 줄바꿈 방지 설정 해제 :whn
  -> 줄바꿈방지 설정일 경우
  테이블 td에서 크기가 글내용만큼
  밀려서 나오기때문에 기본 줄바꿈으로 설정함! */
  white-space: normal;
}

/* 사진뉴스 이미지 */
.photo-news img{

  width: 100px;
  height: 70px;
  vertical-align: middle;
}

/* 사이 구분선 넣기 : 두번째 tr부터 */
.photo-news tr+tr td{
  border-top: 1px solid #e99a9a;
}
